body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #cdcdf5;
  color: #333;
}

.profile-card {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-card:hover {
  transform: scale(1.05);
}

.profile-picture {
  height: 150px; 
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgb(150, 11, 129);
  margin: 0 auto; 
}

.profile-picture img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  color: #800080;
}

h4 {
  text-align: center;
  color: rgb(136, 30, 127);
}

h5 {
  text-align: center;
  color: rgb(136, 30, 127);
}

h3 {
  font-size: 1.2em;
  color: #180a19;
  margin: 5px 0;
}

p {
  font-size: 0.9em;
  color: #6c0663;
  margin: 5px 0;
}